@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');

html {
font-size: 62.5;
}

body {
    background-color: #1F3B57;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column
}

/* Nav Bar */
.nav_bar {
    background-color: #6B97C1;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border: .2rem solid #6B97C1;
    border-radius: 20px;
}
.nav_title {
    justify-content: left;
}
.nav_title h3 {
    color: #413E3E;
    font-size: 2rem;
    margin: 0 0 0 1rem;
}
.nav_title h4 {
    color: #413E3E;
    font-size: 1.2rem;
    margin: 0 0 0 1rem;
}
.nav_links ul {
    list-style: none;
    display: flex;
    justify-content: right;
}
.nav_links li {
    list-style: none;
}
.nav_link a {
    padding: 0 1rem 0 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #413E3E;
}
.nav_link a:hover {
    text-decoration: underline;
}
/* End of Nav Bar */
/* About Content */
.content_about {
    background-color: #6b97c1;
    height: 100%;
    margin: 1rem;
    border: .2rem solid #6B97C1;
    border-radius: 20px;
    padding: 2rem;
}
.about_img_wrapper {
    width: 15rem;
    height: 15rem;
    float: left;
    margin: 0 2rem 0 0;
}
.about_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.about_wrapper {
    padding-left: 1rem;
    flex-wrap: wrap;
}
.content_about_header {
    font-size: 1.5rem;
    color: #413E3E;

}
.content_about_paragraph {
    font-size: 1.2rem;
    font-weight: 700;
    color: #413E3E;

}
/* End of About Content */

/* Contact Section */
.content_contact {
    margin: 1rem 0 1rem 0;
}
.contact_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
.contact_img1 {
    width: 100%;
    height: 100%;
    opacity: .5;
}
.contact_img2 {
    width: 100%;
    height: 100%;
    opacity: .5;
}
.contact_img1:hover {
    opacity: 1;
}
.contact_img2:hover {
    opacity: 1;
}
/* End of Contact Section */
/* Footer */
.footer {
    background-color: #6B97C1;
    display: flex;
    justify-content: right;
    margin: 1rem;
    padding: 0;
    border: .2rem solid #6B97C1;
    border-radius: 20px;
}
.footer h4 {
    font-size: 1rem;
    color: #413E3E;
    margin: 0 1rem 0 0;

}
/* End of Footer */
/* Media Query's */
@media only screen and (max-width: 540px) {
    .nav_title h3 {
        font-size: 1.2rem;
        margin: .5rem 0 0 1rem;
    }
    .nav_title h4 {
        font-size: 1rem;
        margin: 0 0 0 1rem;
    }
    .nav_link a {
        padding: 0 1rem 0 1rem;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .about_img_wrapper {
        display: none;
    }
    .content_about{
        padding: 1rem;
    }
    .content_about_header {
        font-size: 1.2rem;   
    }
    .content_about_paragraph {
        font-size: 1rem;
    }
    .content_contact {
        margin: .5rem 0 .5rem 0;
    }
    .contact_img1 {
        width: 75%;
        height: 75%;
        opacity: .5;
    }
    .contact_img2 {
        width: 75%;
        height: 75%;
        opacity: .5;
    }
}
@media only screen and (max-width: 440px) {
    .nav_bar {
        justify-content: center;
        flex-wrap: wrap;
    }
    .nav_title h3 {
        font-size: 1rem;
        margin: .5rem 0 0 0;
        text-align: center;
    }
    .nav_title h4 {
        text-align: center;
        font-size: .9rem;
        margin: 0 0 0 0;
    }
    .nav_link a {
        padding: 0 1rem 0 1rem;
        font-size: 1rem;
        font-weight: 700;
    }
    .about_img_wrapper {
        display: none;
    }
    .content_about{
        padding: 1rem;
    }
    .content_about_header {
        font-size: 1.2rem;   
    }
    .content_about_paragraph {
        font-size: 1rem;
    }
    .content_contact {
        margin: .5rem 0 .5rem 0;
    }
    .contact_img1 {
        width: 75%;
        height: 75%;
        opacity: .5;
    }
    .contact_img2 {
        width: 75%;
        height: 75%;
        opacity: .5;
    }
}
/* End of Media Query's */